[mat-dialog-content] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

[mat-dialog-actions] {
  display: flex;
  justify-content: center;
}
