@use '../../../assets/css/categories';

// must exceed half the rating's width
$horizontal-margin: 3rem;

.contents {
  display: flex;
  height: 90vh; // tk
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-left: $horizontal-margin;
  margin-right: $horizontal-margin;
}

// Details section

.details {
  width: 25em;
  min-width: 25em;
  height: inherit;
  margin-right: $horizontal-margin;

  .details-container {
    position: fixed;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      flex: 1 0 10%;

      h2 {
        margin-bottom: 0.2rem;
      }

      h3 {
        margin-top: 0.2rem;
        font-variant: small-caps;
      }
    }

    .cover {
      max-width: 25em;
      position: relative;
      text-align: right;
      display: flex;
      margin: auto; // centers cover
      margin-bottom: 2rem;

      .book-cover {
        max-width: 25em;
        max-height: 30em;
      }

      .rating {
        position: absolute;
        top: 0%;
        left: 100%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 5rem;
        font-weight: bold;
        font-size: large;
        background-image: url('/assets/images/star.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .tags {
      width: 100%;
      flex: 1 0 15%;
      display: flex;
      justify-content: center;
    }

    .stats {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 1rem;

      .stats-item {
        display: flex;
        height: 5rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        img {
          height: 3rem;
        }

        span {
          font-weight: 500;
        }
      }
    }
  }
}

// the alternative is to set view encapsulation to 'none'
::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}

mat-chip {
  text-transform: capitalize;
}

// Review section
.review {
  width: 35em;
  text-align: justify;
  margin-right: $horizontal-margin;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    aside p {
      text-align: right;
      margin-bottom: 0.1rem;
      font-style: italic;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}

// quotes
.quotes {
  width: 30em;

  h2 {
    text-align: right;
  }

  blockquote {
    font-family: 'EB Garamond';
    line-height: 1.5rem; // necessary to offset the first line's height due to quotation marks
    font-weight: 500;
    font-style: italic;
    border-left: 8px solid var(--accent-color);
    margin: 0px;
    margin-bottom: 4rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    quotes: '“' '”';
    text-align: justify;
  }

  blockquote:before {
    color: var(--accent-color);
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
}

.edit {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

// small devices
@media only screen and (max-width: 90rem) {
  .contents {
    flex-direction: column;
    height: auto;
    align-items: center;

    > section {
      width: 35rem;
      margin: 0;
      margin-bottom: 3rem;
    }
  }

  .details {
    .details-container {
      position: static;
      align-items: center;

      .cover {
        margin-bottom: 2rem;
        justify-content: center;
      }

      > * {
        margin-bottom: 2rem;
        width: 100%;
      }
    }
  }

  .quotes {
    h2 {
      text-align: left;
    }
  }
}
