// categories colours
.nonfiction {
  background-color: #2c4253;
  color: #f7f2e6;
}

.fiction {
  background-color: #595a4a;
  color: #f7f2e6;
}

.poetry {
  background-color: #9d96b8;
  color: var(--text-primary-color);
}

.comics {
  background-color: #bfae48;
  color: var(--text-primary-color);
}
