// categories colours
.non-fiction {
  background-color: #173042;
  color: #d1dbd1;
}

.fiction {
  background-color: #595a4a;
  color: #d1dbd1;
}

.poetry {
  background-color: #9d96b8;
  color: var(--text-primary-color);
}

.comics {
  background-color: #bfae48;
  color: var(--text-primary-color);
}
