<div class="contents mat-body-2">

  <div class="header">

    <header>
      <h1>Momus</h1>
      <h2>Farcical criticism <br />
        by an illiterate bibliophile</h2>
    </header>
    <img src="assets/images/momus.png">
    <h5>Copyright © Karl Joseph Vals 2020</h5>

  </div>

  <div class="latest-reviews" *ngIf="(latestReviews$ | async) as latestReviews">

    <div class="more">
      <h3>Latest <br />Reviews</h3>
      <h4>as of <br /> June, the 20th<br /> 2019</h4>
    </div>

    <div *ngFor="let book of latestReviews" class="book-card">
      <a [routerLink]="'/books/'+book.url">
        <img [src]="book.cover">
      </a>
    </div>

    <div class="book-card">
      <div class="wrapper">
        <button mat-stroked-button color="accent" routerLink="/books">
          Read More
        </button>
      </div>
    </div>

  </div>

  <!-- </div> -->


</div>