.contents {
  margin-top: 2rem;
  margin-bottom: 2rem;
  // margin-left: 10%;
  // margin-right: 10%;
  height: calc(100% - 64px - 5rem);
  display: flex;
  justify-content: space-evenly;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 465px;

  img {
    max-width: 100%;
    height: auto;
  }

  h1 {
    margin-bottom: 0px;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: overline;
  }

  h1,
  h2 {
    margin-top: 0.5rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  h2 {
    align-self: flex-end;
    margin: 0;
    margin-right: 1rem;
    text-align: right;
    font-style: italic;
  }

  h5 {
    text-align: center;
    margin-bottom: 0px;
  }
}

.latest-reviews {
  display: flex;
  width: 600px;
  height: 800px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book-card {
  flex: 0 0 28%;
  height: 30%;

  img {
    padding: 5px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--text-primary-color);
    filter: sepia(60%);
    transition: 1s ease;
  }

  img:hover {
    filter: sepia(0%);
  }

  button {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid var(--text-primary-color);
  }
}

.book-card:nth-child(3n) {
  transform: translateY(30%);
}

.book-card:nth-child(3n + 1) {
  transform: translateY(30%);
}

.more {
  transform: translateY(30%);
}

.more {
  flex: 0 0 28%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    margin-bottom: 50%;
    width: 90%;
    padding: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }

  h3 {
    text-align: center;
    font-variant: small-caps;
  }

  h4 {
    margin-top: 0;
    text-align: center;
    font-style: italic;
  }
}
