<div class="content">

  <div class="selectors">

    <div class="filters">
      <mat-form-field class="filter-year">
        <mat-label>Year</mat-label>
        <mat-select [formControl]="yearSelector">
          <mat-option *ngFor="let year of finishedYears" [value]="year">
            {{parseYear(year)}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="view-switcher">
      <mat-button-toggle-group #group="matButtonToggleGroup" value="shelf" aria-label="View Switcher">
        <mat-button-toggle value="table" aria-label="Table View">Table</mat-button-toggle>
        <mat-button-toggle value="shelf" aria-label="Shelf View">Shelf</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="sorters">

      <mat-form-field class="sort-select">
        <mat-label>Sort</mat-label>
        <mat-select [(value)]="sortCriterium" (selectionChange)="updateBooks()">
          <mat-option value="date">Date Read</mat-option>
          <mat-option value="rating">Rating</mat-option>
          <mat-option value="hours">Reading Time</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button aria-label="Sort Order Toggle" (click)="toggleSortOrder()">
        <mat-icon *ngIf="sortOrder === 'asc'; else elseBlock">arrow_upward</mat-icon>
        <ng-template #elseBlock>
          <mat-icon>arrow_downward</mat-icon>
        </ng-template>
      </button>

    </div>

  </div>



  <div class="shelf">
    <app-spine [reviews$]="reviews$"></app-spine>
  </div>

  <div class="footer mat-body-1">
    <div class="spacer"></div>
    <div class="metrics">

      <!-- Hours read -->
      <div class="metric-item" [mdePopoverTriggerFor]="hoursPopover">
        <mat-icon [inline]="true">access_time</mat-icon>
        <span>{{metrics.hours}}</span>
      </div>

      <!-- Words read -->
      <div class="metric-item" [mdePopoverTriggerFor]="pagesPopover">
        <mat-icon [inline]="true">description</mat-icon>
        <span>{{metrics.words}}</span>
      </div>

      <!-- Average rating -->
      <div class="metric-item" [mdePopoverTriggerFor]="ratingsPopover">
        <mat-icon [inline]="true">star</mat-icon>
        <span>{{metrics.totalRating / metrics.books | number: '1.1-1'}}</span>
      </div>
    </div>

    <div class="info-trigger" [mdePopoverTriggerFor]="infoPopover">
      <mat-icon>info</mat-icon>
    </div>
  </div>

  <mde-popover #hoursPopover="mdePopover" mdePopoverPositionY="above" [mdePopoverOverlapTrigger]="false">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Reading Hours</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr>
            <td>Total</td>
            <td>{{metrics.hours}}</td>
          </tr>
          <tr>
            <td>Book Average</td>
            <td>{{metrics.hours / metrics.books | number: '1.1-1'}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mde-popover>

  <mde-popover #pagesPopover="mdePopover" mdePopoverPositionY="above" [mdePopoverOverlapTrigger]="false">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Words Read</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr>
            <td>Total</td>
            <td>{{metrics.words}}</td>
          </tr>
          <tr>
            <td>Book Average</td>
            <td>{{metrics.words / metrics.books | number: '1.0-0'}}</td>
          </tr>
          <tr>
            <td>Words per Hour</td>
            <td>{{metrics.words / metrics.hours | number: '1.0-0'}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mde-popover>

  <mde-popover #ratingsPopover="mdePopover" mdePopoverPositionY="above" [mdePopoverOverlapTrigger]="false">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ratings</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table>
          <tr>
            <td>Total</td>
            <td>{{metrics.totalRating | number: '1.0-0'}}</td>
          </tr>
          <tr>
            <td>Book Average</td>
            <td>{{metrics.totalRating / metrics.books | number: '1.1-1'}}</td>
          </tr>
          <tr>
            <td>Standard Deviation</td>
            <td>{{metrics.ratingsDeviation | number: '1.1-1'}}</td>
          </tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mde-popover>

  <mde-popover #infoPopover="mdePopover" mdePopoverPositionX="before" mdePopoverPositionY="above"
    [mdePopoverOverlapTrigger]="false">
    <mat-card>
      <mat-card-content>
        <section class="info-popover">Spines' width indicates reading times, while height reflects ratings. Colour
          signals the book's genre.
        </section>
      </mat-card-content>
    </mat-card>
  </mde-popover>

  <a *ngIf="admin$ | async" class="add-book-button" mat-fab routerLink="new">
    <mat-icon>add</mat-icon>
  </a>

</div>