mat-toolbar {
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 10;
  top: 0;
}

[mat-menu-item] {
  font-family: 'Oswald';
}

.explore-button {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

h4 {
  margin-right: 5rem;
  padding-bottom: 0.5rem;
  font-variant: small-caps;
  text-transform: none;
}

.admin-login,
.admin-logout {
  position: absolute;
  right: 0;
  margin-right: 1rem;
}

.admin-login {
  opacity: 0;
}

.admin-login:hover {
  opacity: 1;
}
