mat-toolbar {
  display: flex;
  justify-content: center;

  .toolbar-title {
    text-align: center;
    flex: 1 1 40%;
  }

  .toolbar-spacer {
    flex: 1 1 30%;
  }

  .toolbar-actions {
    flex: 1 1 30%;
    text-align: right;

    button {
      margin-right: 3rem;
    }
  }
}

mat-tab-group {
  padding-top: 1rem;
  height: 70%;
}

h2 {
  text-align: center;
}

.contents {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-contents {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.title-input {
  width: 38ch;
}

.url-input {
  width: 30ch;
}

.author-input {
  width: 30ch;
}

.cover-address-input {
  width: 40ch;
}

.language-input {
  width: 18ch;
}

.isbn-input {
  width: 16ch;
}

.published-date-input,
.started-date-input,
.finished-date-input {
  width: 18ch;
}

.words-input {
  width: 10ch;
}

.categories-input {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: max-content;
}

.hours-input {
  width: 6ch;
}

.rating-slider {
  width: 100%;
}

.inline-fields :first-child {
  margin-right: 4rem;
}

// controls section

.controls {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  display: flex;
  justify-content: center;

  .main-controls {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      margin-top: 1rem;
    }
  }
}
