tr {
  cursor: pointer;
}

tr:hover {
  background-color: var(--accent-lighter-color);
}

// disable hover color for header row
.table-header:hover {
  background-color: inherit;
}

.text-cell {
  padding-right: 1rem; // allow for some room
}

.center-cell {
  text-align: center;
  padding-right: 1rem;
}

// the first of the numeric cells with a minimal padding
.hours-cell {
  padding-left: 0;
  text-align: right;
}

.number-cell {
  padding-left: 1.5rem;
  text-align: right;
}
